# gedit backup file
*~

# SARSOP input/output files
*.pomdpx
*.policy
*.xsd
*.dot

# SARSOP src folder
APPL_SARSOP_v0.96

# SARSOP executables
polgraph
pomdpconvert
pomdpeval
pomdpsim
pomdpsol
testControllerTiger

# Eclipse
.metadata
.recommenders
bin
lib
.settings
.classpath
.project
*.class
*.jar


